.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.myBtn:disabled {
    background-color: rgb(211, 211, 211);
    color: rgb(56, 55, 55);
}